# Database connection
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=2004
DB_NAME=garden_care

# Application runtime
API_PORT=5000
CORS_ORIGINS=http://localhost:5173
JWT_SECRET="replace_with_a_strong_secret_min_32_chars_with_upper_lower_number_symbol"
NODE_ENV=development
